.div1: backgroundcolor: red; 
       width: 1300px; 
       height: 80px;
       top: 21px;
       left: 543px;

.div2: backgroundcolor: blue; 
       width: 1000px; 
       height: 46px;
       left: 13px;